%section
  #current-temp
    %h1 Current Temperature:
    %h1= "#{@monitor.current}°F"
  %hr
  #duration
    %p.help Click and drag to get more details about a specific period of time
    %select.select_duration(onChange="window.location.href=this.value")
      <option current>#{@current_day} #{@current_day > 1 ? 'days' : 'day'}</option>
      - @duration_options.each do |opt|
        %option(value="/?duration=#{opt*24}")= "#{opt} #{opt > 1 ? 'days' : 'day'}"
  %div= high_chart("highcharts", @chart)
