/* DOM Elememnts */
h1 {
  font-size: 28px;
}

hr {
  margin: 20px 0;
}

/* Page-specific ID's */
#current-temp {
  text-align: center;
  margin: 0 auto;
}

#duration {
  text-align: center;
}

/* Specific styles */
#highcharts {
  margin: 20px 0;
}

.help {
  font-style: italic;
}
